---
import Layout from "../../layouts/Layout.astro";
import CardCasino from "../../components/CardCasino.astro";
const id = Astro.params.id;
import { getTorneo } from "../../lib/api";
import { formatDate } from "../../lib/utils.js";
let torneo = await getTorneo(id);

let { datestring, hour } = formatDate(torneo.date + " " + torneo.hour);
---

<Layout
  title={torneo.name}
  description={"Torneo de Poker " + torneo.name + " en " + torneo.casinos.name}
>
  <div class="lg:flex gap-4 space-y-4 lg:space-y-0 mx-10 mt-10">
    <div class="lg:w-8/12">
      <div class="rounded overflow-hidden shadow-lg">
        <div
          class="text-2xl font-bold flex justify-between items-center text-white bg-stone-500 p-5"
        >
          <div class="flex flex-col lg:flex-row items-left lg:items-center">
            {torneo.name}{
              torneo.image && (
                <img
                  width="100"
                  class="lg:ml-4"
                  src={torneo.image}
                  alt={"Icono " + torneo.name}
                />
              )
            }
          </div>
          <div class="text-4xl font-bold">
            {torneo.prize}€
          </div>
        </div>
        <div class="p-5">
          <div class="font-bold">{datestring} - {hour}</div>
          <div class="mt-6">{torneo.description}</div>
        </div>
      </div>
    </div>
    <div class="lg:w-4/12">
      <CardCasino casino={torneo.casinos} />
    </div>
  </div>
</Layout>
