---
import Layout from "../../layouts/Layout.astro";
const id = Astro.params.id;
import { getTorneo } from "../../lib/api";
let torneo = await getTorneo(id);
---

<Layout
  title={torneo.name}
  description={"Torneo de Poker " + torneo.name + " en " + torneo.casinos.name}
>
  <div class="flex flex-col p-10">
    <div class="mb-5 text-4xl font-bold">{torneo.name}</div>
    <div>{torneo.date} - {torneo.hour}</div>
    <div class="text-base text-grey-darker">
      <p>Precio: {torneo.prize}€</p>
      <p>
        Casino: <a href={"/casino/" + torneo.casinos.id}
          >{torneo.casinos.name}
        </a>
      </p>
    </div>
  </div>
</Layout>
