---
const { torneo, casino } = Astro.props;
import { formatDate } from "../lib/utils.js";
const backgroundColor = torneo.casinos.color;
let { datestring, hour } = formatDate(torneo.date + " " + torneo.hour);
---

<div class="rowtorneo flex text-white bg-stone-500 hover:bg-stone-700">
  <div
    class="w-full flex flex-col gap-4 lg:flex-row justify-between p-5 py-2 items-center"
  >
    {
      casino && (
        <div class="casino text-lg lg:text-xs w-100 lg:w-1/12 ml-2">
          <a href={"/casino/" + torneo.casinos.id}>{torneo.casinos.name}</a>
        </div>
      )
    }
    <div
      class="prize font-bold text-3xl lg:text-xl w-100 lg:w-1/12 text-center lg:text-right"
    >
      {torneo.prize}€
    </div>

    <div class="name font-bold text-center lg:text-left lg:w-9/12">
      <a
        href={"/torneo/" + torneo.id}
        class="text-2xl lg:text-lg flex items-center"
        >{torneo.name}{
          torneo.image && (
            <img
              width="100"
              class="ml-4"
              src={torneo.image}
              alt={"Icono " + torneo.name}
            />
          )
        }
      </a>
    </div>

    <div
      class="flex flex-col gap-2 text-sm text-center lg:text-right w-100 lg:w-1/12"
    >
      <strong>{datestring}</strong>
      <strong class="text-xl">{hour}</strong>
    </div>
  </div>
</div>

<style define:vars={{ backgroundColor }}>
  .rowtorneo {
    position: relative;
  }
  .rowtorneo::before {
    position: absolute;
    content: " ";
    width: 10px;
    height: 100%;
    background-color: var(--backgroundColor);
  }
</style>
